h1{
    text-align: center;
    color: white;
    
}
body{
    background-color: #132025;
 
}

.imagenInicio{
    width: 80%;
   height: 500px
}
.wrapper{
    display: flex;
    justify-content:center;
}